<form data-ng-controller="instancesController" data-ng-submit="submitForm(instance)" ng-show="userId && isCommitted === false">
	<div class="controller">
		<h4>Add a Game: </h4>
		<div class="row">
			<div class="two columns">
				<label for="name">Host</label>
				<input id="name" type="text" data-ng-model="instance.host">
			</div>
			<div class="two columns">
				<label for="game">Game</label>
				<input id="game" type="text" data-ng-model="instance.game">
			</div>
			<div class="two columns">
				<label for="where">Location</label>
				<input id="where" type="text" data-ng-model="instance.location">
			</div>
			<div class="two columns">
				<label for="playersNeeded">Players Needed</label>
				<input id="playersNeeded" type="number" data-ng-model="instance.playersNeeded">
			</div>
			<div class="two columns">
				<label for="time">Start Time</label>
				<input id="time" type="text" data-ng-model="instance.startTime">
			</div>
			<div class="two columns">
				<label for="duration">Duration</label>
				<input id="duration" type="text" data-ng-model="instance.playTime">
			</div>
			<div class="offset-by-nine columns two columns">
				<button type="submit" data-ng-click="reloadPage()">Submit</button>
			</div>
		</div>
	</div>
</form>
