<form data-ng-submit="submitForm(instance)">
	<label for="name">Name</label>
	<input id="name" type="text" data-ng-model="instance.host">
	<label for="game">Game</label>
	<input id="game" type="string" data-ng-model="instance.game">
	<label for="where">Location</label>
	<input id="where" type="string" data-ng-model="instance.location">
	<label for="playersNeeded">PLayers Needed</label>
	<input id="playersNeeded" type="number" data-ng-model="instance.playersNeeded">
	<label for="time">Start Time</label>
	<input id="time" type="string" data-ng-model="instance.startTime">
	<label for="duration">Duration</label>
	<input id="duration" type="string" data-ng-model="instance.playTime">
	<button type="submit">Submit</button>
</form>
