<form data-ng-controller="instancesController" data-ng-submit="submitForm(instance)">
	<label for="name">Host</label>
	<input id="name" type="text" data-ng-model="instance.host">
	<label for="game">Game</label>
	<input id="game" type="string" data-ng-model="instance.game">
	<label for="where">Location</label>
	<input id="where" type="string" data-ng-model="instance.location">
	<!-- <div angucomplete-alt  id="where" placeholder="Enter location" selectedObject ="instance.location" local-data="locations" title-field="name" search-fields="name" minlength=1></div> -->
	<label for="playersNeeded">Players Needed</label>
	<input id="playersNeeded" type="number" data-ng-model="instance.playersNeeded">
	<label for="time">Start Time</label>
	<input id="time" type="string" data-ng-model="instance.startTime">
	<label for="duration">Duration</label>
	<input id="duration" type="string" data-ng-model="instance.playTime">
	<button type="submit" data-ng-click="reloadPage()">Submit</button>
</form>
