<div data-ng-controller="instancesController" ng-model="query">
  <h4>Arrange Games By: </h4>
  <select ng-model="queryBy">
    <option value="host">Host</option>
    <option value="game">Game</option>
    <option value="location">Location</option>
  </select>
  <ul>
    <!-- existing games -->
    <li data-ng-repeat="instance in instances.slice().reverse() | filter:query | orderBy: queryBy">
      <h3>{{ instance.host }}'s {{ instance.game }} @ {{ instance.startTime }} at {{ instance.location }}</h3>
      <ul>
        <li>
          Signed Up: {{ instance.signedUp }}
        </li>
        <li>
          Players Needed: {{ instance.playersNeeded }}
        </li>
        <li data-ng-repeat="participant in instance.participants">
          Users Signed Up: {{ participant.username }}
        </li>
        <li>
          Host name: {{ instance.host }}
        </li>
        <li>
          Game: {{ instance.game }}
        </li>
        <li>
          Where: {{ instance.location }}
        </li>
        <li>
          Time: {{instance.startTime}}
        </li>
        <li>
          Duration: {{instance.playTime}}
        </li>
        <form ng-show="userId === instance.creator">
          <button class="btn-caution" type="submit" data-ng-click="edit(instance); reloadPage()">Edit</button>
          <button class="btn-alert" type="submit" data-ng-click="destroy(instance._id); reloadPage()">Remove</button>
          <button type="submit" class="game-over" data-ng-click="gameOver(instance._id); reloadPage()">Game Complete</button>
        </form>
        <form ng-show="userId !== instance.creator">
          <button class="join-game" type="submit" data-ng-click="join(instance._id); reloadPage()">Join This Game</button>
          <button class="leave-game" type="submit" data-ng-click="quit(instance._id); reloadPage()">Leave this game</button>
        </form>
      </ul>
    </li>
  </ul>
</div>
