/* this is the "logic" file - setting variables and all the basic info */
/* ========== COLORS ========== */
$primary:  rgba(255, 83, 13, 1); //orange
$secondary: rgba(63, 87, 101, 1); //steel blue
$tertiary: rgba(43, 58, 66, 1); //teal
