/* this is the "logic" file - setting variables and all the basic info */
/* ========== COLORS ========== */
$primary:  rgba(242, 167, 27, 1); //gold
$secondary: rgba(166, 128, 13, 1); //bronze
$tertiary: rgba(7, 74, 89, 1); //teal
$background: rgba(251, 251, 251, 1); //off-white
